.custom-list {
    list-style: none;
    padding: 0;
}
  
.custom-list li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: #f9f9f9;
    border-left: 5px solid burlywood;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.custom-list li::before {
    content: ""; /* Change to any emoji or icon */
    font-size: 20px;
}

.hero-image {
    max-height: 600px;
    border-radius: 10px;
    margin: 0 10px;
}

.social-media-link {
    font-weight: normal;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 18px;
}

.social-media-link:link {
    color: #111111;
}

.social-media-link:visited {
    color: #111111;
}

.social-media-link:hover {
    color: burlywood;
}

.post-list-sec {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* stretches elements to have same width */
    --gap-posts: 20px;
    gap: var(--gap-posts);
    margin: var(--gap-posts) 0;
}

.post-tile {
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0 0 15px #E8E8E8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease-in-out; 
}

.post-tile:hover {
    transform: scale(1.02);
}

.post-link-text {
    font-weight: normal;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 22px;
}

.post-link-text:link {
    color: #111111;
}

.post-link-text:visited {
    color: #111111;
}

.post-link-text:hover {
    color: burlywood;
}

.post-desc {
    color: darkgray;
    font-size: 16px;
}

.tag-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag-pill {
    font-size: 14px;
    color: DimGray;
    background-color: WhiteSmoke;
    height: 15px;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
}