.container {
    margin: auto;
    max-width: 800px;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; /* used by Medium */
    position: relative;
    padding: 0 1rem;
}

.heading {
    color: burlywood;
}

.nav-links {
    display: flex;
    /* scrollable nav bar */
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: clamp(1.5rem, 5vw, 4rem); /* fluid scaling */
    justify-content: left; /* aligns items to the left */
    /* remove default styles for <ul> */
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem 0;
}

.nav-link-tab {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.nav-link-text {
    color: #111111;
    font-weight: bold;
    text-decoration: none;
}

.nav-link-text:hover {
    color: burlywood;
}

.active-nav-link {
    color: burlywood;
}

.underscore {
    height: 2px;
    border-radius: 1px;
    background-color: burlywood;
    /* border: 0.5px solid burlywood; */
}

.site-title {
    font-size: 3rem;
    color: burlywood; /* theme colour */
    font-weight: 700;
    margin: 2rem 0 2rem;
}

.hero-image {
    max-height: 600px;
    border-radius: 10px;
}