.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: burlywood;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: #111111;
    font-weight: bold;
    transition: color 0.2s;
}

.nav-link-text:hover {
    color: burlywood;
}

.site-title {
    font-size: 3rem;
    color: burlywood;
    font-weight: 700;
    margin: 3rem 0;
}

.post-link-text {
    font-weight: normal;
    transition: color 0.2s;
}

.post-link-text:link {
    color: #111111;
}

.post-link-text:visited {
    color: #111111;
}

.post-link-text:hover {
    color: burlywood;
}

.post-desc {
    color: darkgray;
}